.container {
  display: grid;
}

.sectionWrapper {
  padding: 1rem;
}

@media (min-width: theme(screens[tablet])) {
  .sectionWrapper {
    display: grid;
    align-items: center;
    height: 100vh;
  }
}
