.containerWithImage {
  max-width: 80vw;
  margin: 1rem auto;
}

.containerNoImage {
  min-width: 15rem;
  max-width: 20rem;
  margin: 1rem auto;
}

.contentContainer {
  color: theme(colors[black]);
}

.cardTitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 1rem;
}

.cardTitleUnderline {
  margin: 0 1.5rem;
  opacity: 25%;
  border-color: theme(colors[black]);
}

.descriptionHeading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.35rem;
  padding: 0.5rem 0;
}

@media (min-width: theme(screens[surfaceDuo])) {
  .containerNoImage {
    min-width: 20rem;
    max-width: 25rem;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .cardTitleUnderline {
    margin: 0 3rem;
  }
}

@media (min-width: theme(screens[tablet])) {
  .containerWithImage {
    max-width: 40vw;
  }

  .containerNoImage {
    min-width: 100%;
    margin: 0;
  }

  .descriptionHeading {
    font-size: 1.6rem;
  }
}

@media (min-width: theme(screens[largeTablet])) {
  .containerWithImage {
    max-width: 25vw;
  }
}

@media (min-width: theme(screens[desktop])) {
  .descriptionHeading {
    font-size: 1.8rem;
  }
}
