.container {
  min-width: 15rem;
  max-width: 20rem;
  margin: 2rem auto;
}

.imageContainer {
  position: relative;
  height: 20rem;
  box-shadow: 3px 4px 4px #0000001a;
}

.descriptionContainer {
  color: #eaf4f2;
  box-shadow: 3px 4px 4px #0000001a;
}

.descriptionTitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: theme(screens[surfaceDuo])) {
  .container {
    min-width: 20rem;
    max-width: 25rem;
  }

  .imageContainer {
    height: 25rem;
  }
}

@media (min-width: theme(screens[tablet])) {
  .container {
    margin: 0 auto;
  }

  .imageContainer {
    min-width: 22rem;
  }

  .descriptionTitle {
    font-size: 2rem;
  }
}

@media (min-width: theme(screens[laptop])) {
  .container {
    max-width: none;
  }
}
