.containerWithImage {
  width: 80%;
  margin: 1rem auto;
}

.containerNoImage {
  min-width: 15rem;
  max-width: 20rem;
  margin: 1rem auto;
}

.descriptionContainer {
  color: theme(colors[black]);
  box-shadow: 3px 4px 4px #0000001a;
}

.descriptionTitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: theme(screens[surfaceDuo])) {
  .containerWithImage {
    width: 70vw;
  }

  .containerNoImage {
    min-width: 20rem;
    max-width: 25rem;
  }
}

@media (min-width: theme(screens[tablet])) {
  .containerWithImage {
    width: unset;
  }

  .containerNoImage {
    min-width: 100%;
    margin: 0;
  }

  .descriptionTitle {
    font-size: 2rem;
  }
}

@media (min-width: theme(screens[laptop])) {
  .containerWithImage {
    width: 75%;
  }
}
