.buttonCarouselContainer {
  display: flex;
  padding: 0.75rem;
}

.carousel {
  margin: auto;
  overflow: hidden;
}

.inner {
  display: inline-flex;
}

.carouselItem {
  text-align: center;
  transition: 1s;
}
