.container {
  padding: 2.5rem 0;
}

@media (min-width: theme(screens[tablet])) {
  .skillCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: theme(screens[laptop])) {
  .skillCardsContainer {
    gap: 2rem;
    max-width: 70rem;
    margin: 0 auto;
  }
}
