.title {
  color: theme(colors[darkGreen]);
  font-size: 1.75rem;
  font-weight: 600;
}

.introContentLayout {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
}

.icon {
  color: theme(colors[mediumGreen]);
}

@media (min-width: theme(screens[tablet])) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
  }

  .title {
    font-size: 2.25rem;
  }

  .introContentLayout {
    display: block;
    margin: auto;
  }

  .iconsContainer {
    flex-direction: row;
    justify-content: end;
  }
}

@media (min-width: theme(screens[laptop])) {
  .title {
    font-size: 2.75rem;
  }
}
