.title {
  color: theme(colors[vibrantCyan]);
  font-size: 1.75rem;
  font-weight: 600;
}

.description {
  color: theme(colors[moderateCyan]);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.introContentLayout {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
}

.icon {
  color: theme(colors[moderateCyan]);
}

@media (min-width: theme(screens[tablet])) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
  }

  .title {
    font-size: 2.25rem;
  }

  .description {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .introContentLayout {
    display: block;
    margin: auto;
  }

  .iconsContainer {
    flex-direction: row;
    justify-content: end;
  }
}

@media (min-width: theme(screens[desktop])) {
  .title {
    font-size: 2.75rem;
  }

  .description {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
