.container {
  padding: 2.5rem 0; /*TODO: Change the method for centering this section*/
}

.introContentLayout {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.icons {
  display: flex;
  flex-direction: column;
}

@media (min-width: theme(screens[tablet])) {
  .container {
    padding: 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
  }

  .introContentLayout {
    display: block;
    margin: auto;
  }

  .card {
    margin: auto;
  }

  .icons {
    flex-direction: row;
    justify-content: end;
  }
}
