/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

html,
body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(0deg, rgba(28, 28, 28, 0.85), rgba(28, 28, 28, 0.85)),
    url(../assets/_background.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media (max-width: theme(screens[surfaceDuo])) {
  body {
    width: fit-content;
  }
}
