/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

html,
body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(0deg, rgba(28, 28, 28, 0.85), rgba(28, 28, 28, 0.85)),
    url(../public/favicon/_background.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@tailwind utilities;

/* Contentful rich text sometimes returns empty p tags, this is a temporary fix to remove them from the DOM */
p:empty {
  display: none;
}
